@import url('https://fonts.googleapis.com/css?family=Caprasimo');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2family=Exo+2:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

/*==================================================
The SHOW MORE LINK Modal Popup properties
/-------------------------------------------------*/

.box {
    /*background-color: blue;*/
    height: 1vh;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    padding-left: 20px;
  }
  .box a {
    padding: 1px;
    background-color: blue;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 800;
  }
/*END Show More Link in marketing*/

/*==================================================
The Modal Popup Box properties
/-------------------------------------------------*/
.modal {
    position: fixed;
    inset: 0;
    background: whitesmoke;
    display: none;
    align-items:first baseline;
    justify-content: center;
    padding-left: -60px;                                                  /* .(40503.04.1 RAM Chg Modal padding was 50px;).(40426.01.16 RJS Added;) */
    top: 0px;                                                             /* .(40426.01.17 RJS Added;) */
  }
  
  .content {
    position: relative;
    background: lightgray;
    padding: 1em 2em;
    border-radius: 4px;
    width: 60%;                                                           /* .(40501.01.5 RJS Chg width was 70%).(40426.01.18 RJS Was: 50%;) */
    top: 180px;
    margin: 1px 20px 0px 20px;                                                           /* .(40426.01.19 RJS Added) */
  }
  
  .modal:target {
    display: flex;
  }
  h1 {
    font-size: .95rem;
    text-align: left;                                                     /* .(40426.01.20 RJS Added) */
  }
/* END Modal Popup ===========================*/                        /* .(40410.06.2 RJS End) */

/* Media Queries */
@media screen and (max-width: 768px) {

      .modal {
        top: 12px;
        width: 120%;
        left: -70px;                                                             /* .(40426.01.17 RJS Added;) */
      }
      h1 {
        font-size: .8rem;
      }      
}

@media screen and (max-width: 510px) {
    .modal {
        top: 12px;                                                             /* .(40426.01.17 RJS Added;) */
      }
      h1 {
        font-size: .7rem;
      }
    }